<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns="http://www.w3.org/1999/xhtml" class="ie8 wp-toolbar"  lang="zh-CN">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="wp-toolbar"  lang="zh-CN">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>后台管理 &lsaquo; 精一学社</title>
<script type="text/javascript" src="{$base_url}public/js/jquery.min.js"></script>
<style>
	.nav{ width:100%; clear:both; padding-bottom:10px;}
	.nav a{ float:left; margin-right:20px; color:#333; text-decoration:none;}
	.nav .on{ font-weight:bolder;}
	.nav .fr{ float:right;}
	.clear{ clear:both;}
	td{ background:#F9F7F7}
</style>

</head>
<body>
{include file="admin/nav.html"}

总画布数：{$num1}<br/>
今日新增画布数：{$num2}

<div style="background:#000000">
<table width="100%" border="0" cellpadding="5" cellspacing="1">
  <tbody>
    <tr>
      <td align="center">用户</td>
      <td align="center">项目名称</td>
      <td align="center">产品独特定位</td>
      <td align="center">相关操作</td>
    </tr>
    
{if $huabuList}
{foreach from=$huabuList item=huabu}
    <tr>
      <td align="center">{$huabu.Uname}</td>
      <td align="center">{$huabu.Subject}</td>
      <td align="center">{$huabu.h_four}</td>
      <td align="center"><a href="{$base_url}huabu/show/{$huabu.mID}.html" target="_blank">查看</a></td>
    </tr>
{/foreach}
{else}
  <tr>
    <td colspan="7" class="ac">您目前没有添加关键词哦~</td>
    </tr>
{/if}


  </tbody>
</table>
</div>



</body>
</html>
