<!DOCTYPE html>
	<!--[if IE 8]>
		<html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="zh-CN">
	<![endif]-->
	<!--[if !(IE 8) ]><!-->
		<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
	<!--<![endif]-->
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>精一学社 &rsaquo; 登录</title>
        <link rel='stylesheet' id='login-css'  href='{$base_url}public/admin/css/login.min.css?ver=4.1' type='text/css' media='all' />
        <link rel="stylesheet" type="text/css" href="{$base_url}public/admin/css/login.css" />
        <script type="text/javascript" src="{$base_url}public/js/jquery.min.js"></script>
        <meta name='robots' content='noindex,follow' />
	</head>
	<body class="login login-action-login wp-core-ui  locale-zh-cn">
	<div id="login">
		<h1><a href="{$base_url}" title="精一学社" tabindex="-1">精一学社</a></h1>
     
		<div id="login_error" style="display:none">	<strong>错误</strong>：无效用户名。<a href="javascript:;">忘记密码</a>？<br />
	</div>
        <form name="loginform" id="loginform" action="{$base_url}admin/login" method="post">
            <p>
                <label for="user_login">用户名<br />
                <input type="text" name="log" id="user_login" class="input" value="" size="20" /></label>
            </p>
            <p>
                <label for="user_pass">密码<br />
                <input type="password" name="pwd" id="user_pass" class="input" value="" size="20" /></label>
            </p>
        
            <p class="forgetmenot"><label for="rememberme"><input name="rememberme" type="checkbox" id="rememberme" value="forever"  /> 记住我的登录信息</label></p>
            <p class="submit">
                <input type="button" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="登录" />
                <input type="hidden" name="redirect_to" value="{$base_url}admin/" />
                <input type="hidden" name="testcookie" value="1" />
            </p>
        </form>

        <p id="nav">
            <a href="javascript:;" title="找回密码">忘记密码？</a>
        </p>
<script>
	var baseUrl="{$base_url}"
</script>      
{literal}       
<script type="text/javascript">
addLoadEvent = function(func){if(typeof jQuery!="undefined")jQuery(document).ready(func);else if(typeof wpOnload!='function'){wpOnload=func;}else{var oldonload=wpOnload;wpOnload=function(){oldonload();func();}}};
function s(id,pos){g(id).left=pos+'px';}
function g(id){return document.getElementById(id).style;}
function shake(id,a,d){
	c=a.shift();
	s(id,c);
	if(a.length>0){
		setTimeout(function(){shake(id,a,d);},d);
	}else{
		try{g(id).position='static';wp_attempt_focus();}catch(e){}
	}
}
function err(){
	$("#login_error").show()
	addLoadEvent(function(){ var p=new Array(15,30,15,0,-15,-30,-15,0);p=p.concat(p.concat(p));var i=document.forms[0].id;g(i).position='relative';shake(i,p,20);});
}
$("input[name=wp-submit]").click(function(){
	$.get(baseUrl+"admin/login",{"log":$("input[name=log]").val(),"pwd":$("input[name=pwd]").val()},function(d){
		if(d.flag){
			location.href=baseUrl+"admin/"
		}else{
			alert(d.msg)
		}
	},"jsonp")
})


</script>
{/literal}
		<script type="text/javascript">
        function wp_attempt_focus(){
            setTimeout( function(){ try{
                    d = document.getElementById('user_login');
                    d.focus();
                    d.select();
                } catch(e){}
            }, 200);
        }
        
        wp_attempt_focus();
        if(typeof wpOnload=='function')wpOnload();
        </script>
        
        <p id="backtoblog"><a href="{$base_url}" title="不知道自己在哪？">&larr; 回到精一学社</a></p>
	
	</div>

	
	<div class="footer">
    <p>Copyright &copy; 2015 M.J All Rights | Author by <a href="{$base_url}" target="_blank">精一学社</a></p>
    </div>
    <script type="text/javascript" src="{$base_url}public/js/resizeBg.js"></script>
    <script type="text/javascript">
    jQuery("body").prepend("<div class=\"loading\"><img src=\"{$base_url}public/images/login_loading.gif\" width=\"58\" height=\"10\"></div><div id=\"bg\"><img /></div>");
    jQuery('#bg').children('img').attr('src', '{$base_url}public/images/login_bg.jpg').load(function(){
        resizeImage('bg');
        jQuery(window).bind("resize", function() { resizeImage('bg'); });
        jQuery('.loading').fadeOut();
    });</script>
	<div class="clear"></div>
	</body>
</html>