<div class="clear"></div>
<div class="copyright">

   <div class="wrap"> {$language.site_copyright} </div>


</div>

<div class="h_box_big">
          
</div>     
<div class="h_main1">
	  <div class="regL"> 
                <ul class="reg">
                    <ol><li class="t">{$language.user_reg}</li></ol>
                    <ol>
                    	<li class="w120">{$language.user_name}</li>
                        <li><input type="text"  name="username" class="i" placeholder="{$language.user_name_require}" onChange="checkUname(this.value)" value="" /><p>{$language.user_name_err}</p></li>
                    </ol>
                    <ol>
                    	<li class="w120">{$language.user_pass}</li>
                        <li> <input type="password" name="userpass"  class="i" placeholder="{$language.user_pass_require}"/><p>{$language.user_pass_err}</p></li>
                    </ol>
                    <ol>
                    	<li class="w120">{$language.user_repass}</li>
                        <li><input type="password" name="reuserpass"  class="i"><p>{$language.user_repass_err}</p></li>
                    </ol>
                    <ol>
                    	<li class="sbtn"><input type="button" value="{$language.user_creat}" class="subBtn"/></li>
                    </ol> 
                 </ul>
                 <ul class="login" style="display:none">
                    <ol><li class="t">{$language.user_login}</li></ol>
                 	<ol>
                    	<li class="w120">{$language.user_name}</li>
                        <li><input type="text" name="username" class="i"/><p>{$language.user_name_err}</p></li>
                    </ol>
                    <ol>
                    	<li class="w120">{$language.user_pass}</li>
                        <li> <input type="password" name="userpass" class="i"/><p>{$language.user_pass_err}</p></li>
                    </ol>
                  
                    <ol class="s">
                    	<li class="w130"></li><li class="pt5"><input type="checkbox" name="auto"/></li><li> 一周内自动登录</li>
                        <li class="pl120"><a href="javascript:alert('{$language.coming}');">{$language.user_forgot}</a></li>
                    </ol>
                     <ol>
                    	<li class="sbtn"><input type="button" value="{$language.btn_sureLogin}" class="subBtn"/></li>
                    </ol>
                </ul>
                <div class="san">
                	<span>社交账号登录:</span> 
                    <a href="javascript:;" class="qq"></a>
                    <a href="javascript:;" class="sina"></a>
                    <a href="javascript:alert('{$language.coming}');" class="weixin"></a>
                    <div class="fr toLogin"><span>已有账号，</span><a href="javascript:login();">直接登录</a></div>
     				<div class="fr toReg" style="display:none"><span>没有账号，</span><a href="javascript:reg();">马上注册</a></div>
                </div>
            </div>
            
            <div class="regE" style="display:none">
            	 <div class="t">恭喜您，登陆成功</div>
                 <div class="loginEnd">
                 		您现在，可以<br/><br/>
                        
                        <a class="sbtn" href="{$base_url}huabu/add">上传画布</a> <br/><br/>
                        <a class="sbtn" href="{$base_url}project/add">申请创业基金</a> 
                 
                 </div>
            </div>
      <a id="close">X</a>
</div>
<script src="{$base_url}public/js/user.js"></script>
