<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>精一学社 | 精益创业的实践平台，早期创业者的“摇篮”</title>
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="Keywords" content="精益创业,精一学社,精益创想计划,TMT,创业" />
<meta name="description" content="国内首家以精益创业方法为主线的线上线下结合的孵化器，针对-0.5到0.5岁的早期创业者，快速对接精益投资基金，帮助创业者的idea落地生根，降低失败成本。" />
<meta property="qc:admins" content="17013444516765636" />

<link rel="Bookmark" href="public/favicon.ico"  type="image/x-icon" /> 
<link rel="Shortcut Icon" href="public/favicon.ico">
<script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>

<script>

location.href="{$file}"

</script>

<div style="display:none">
	 <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?453b663606940a9d2afd3e60c225ef1a";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</div>

</body>
</html>