<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="Keywords" content="{$language.site_keywords}" />
<meta name="description" content="{$language.site_description}" />
<meta property="qc:admins" content="17013444516765636" />
<meta property="wb:webmaster" content="8864b3609dded637" />


<link rel="stylesheet" href="{$base_url}public/css/reset.css" media="screen" />
<link rel="stylesheet" href="{$base_url}public/css/main.css?v=2015" media="screen" />
<link rel="Bookmark" href="{$base_url}public/favicon.ico"  type="image/x-icon" /> 
<link rel="Shortcut Icon" href="{$base_url}public/favicon.ico">


<script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
<script>
var baseUrl="{$base_url}"

var Cid="{$cid}"
var Uid="{$uid}"
var Uname="{$uname}"
//用户资料
var userData={$userData};

	

</script>
<script src="{$base_url}public/js/comm.js"></script>
<script src="{$base_url}public/js/kindeditor-min.js"></script>
<script>
  var _hmt = _hmt || [];
  (function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?453b663606940a9d2afd3e60c225ef1a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
  })();  
</script>