<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>{$language.site_title}</title>
{include file="header.html"}
</head>
<body>
{include file="navB.html"}
<div class="h_main">
	<a href="{$base_url}project/my/{$data.mID}" class="btnAplay" >申请创业基金</a>
	<h1>我的好点子画布</h1>
	
    <div class="h_nav">
    <!--
    	<ul class="t">
        	<li {if $data.h_one and $data.h_one_text}class="on"{/if}><span>1</span><p>痛点的场景描述<br/>+痛苦程度</p></li>
            <li {if $data.h_two}class="on"{/if}><span>2</span><p>这个痛点和你<br />有什么联系？</p></li>
            <li {if $data.h_three_one and $data.h_three_two}class="on"{/if}><span>3</span><p>用户细分<br />+市场规模估算</p></li>
            <li {if $data.h_four}class="on"{/if}><span>4</span><p>产品独特定位</p></li>
            <li {if  $data.h_five_one and  $data.h_five_two and  $data.h_five_three and  $data.h_five_four  and  $data.h_five_five}class="on"{/if}><span>5</span><p>你的团队</p></li>
            <li  {if  $data.h_six_one and  $data.h_six_two}class="on end"{else} class="end"{/if}><span>6</span><p>如何垄断<br/>或建立门槛</p></li>
        </ul>
        <div class="l"></div>
    -->
    	 <div class="tt">
        	好点子画布是一个高效的工具，帮你梳理你的创业想法，赶快去完善你的画布呗<br/>
			查看参考：
            <a href="http://leanone.cn/huabu/show/ceea167a5a36dedd.html" target="_blank">范例一</a>、
            <a href="http://leanone.cn/huabu/show/8e8850243be8079a.html" target="_blank">范例二</a>、
            <a href="http://leanone.cn/huabu/show/e0327ad868d138f2.html" target="_blank">范例三</a>
		</div>
    </div>
    
    
    <form action="{$base_url}huabu/modSave"  method="post">
    <div class="hSubject">
    	<span>项目名称：</span>
        <input type="text" name="h_subject" maxlength="32" value="{$data.Subject}">
        <div class="errMsg">项目名称不能为空！</div>
    </div>
    <div class="clear"></div>

    
    <div class="pr pb50">
    	<div class="h_img"></div>
        <div class="h_img1"></div>
        <div class="h_img2"></div>
        <div class="h_img3"></div>
        <div class="h_img4"></div>
     	
        <div class="pl75">
    	  <input type="hidden" name="mID" value="{$data.mID}">
          <div class="lit h_one fl">
              <h5 {if $data.h_one and $data.h_one_text}class="on"{/if}><span>1</span>{$language.huabu_step1}</h5>
              <div >
                  <textarea name="h_one" cols=49 rows=10 >{$data.h_one}</textarea>
              </div>
              
              <div class="h_p1q">
                  <p>{$language.huabu_step1_txt1}<input type="text" name="h_one_text"  value="{$data.h_one_text}" /> {$language.huabu_step1_txt2}</p>
              </div>
          </div>
          
         
          <div class="lit h_two fl">
              <h5 {if $data.h_two}class="on"{/if}><span>2</span>{$language.huabu_step2}</h5>
              <textarea name="h_two" cols=47 rows=13 >{$data.h_two}</textarea>
          
          </div>
 		  <div class="clear h55"></div>
      
          <div class="lit h_four fl">
              <h5 {if $data.h_four}class="on"{/if}><span>4</span>{$language.huabu_step4}</h5>
     		 <textarea name="h_four" cols=49 rows=13 >{$data.h_four}</textarea>
            
   
          </div>
          
      
          <div class="lit h_three fl">
              <h5 {if $data.h_three_one and $data.h_three_two}class="on"{/if}><span>3</span>{$language.huabu_step3}</h5>
              <div>
              
                <textarea name="h_three_one"  rows=7  class="h_tewen">{$data.h_three_one}</textarea>


              </div>
              <div>
              
                <textarea name="h_three_two"  rows=7  class="h_tewen" >{$data.h_three_two}</textarea>


              </div>
          
          </div>
          
          
          <div class="clear h85"></div>
          
         
          <div class="lit h_five fl">
              <h5 {if  $data.h_five_one and  $data.h_five_two and  $data.h_five_three and  $data.h_five_four  and  $data.h_five_five}class="on"{/if}><span>5</span>{$language.huabu_step5}</h5>
              <a href="http://leanone.cn/guquan/" target="_blank" class="gqtz">{$language.txt_guquan}</a>
              <div  class="h_m_box">
         
                  <table  border="0" cellpadding="1" cellspacing="1">
                        <tr>
                          <td width="142" class="bg1">{$language.huabu_step5_txt1}</td>
                          <td width="62"  >
                          <select  name="h_five_one">
                          <option value="1" {if $data.h_five_one eq '1'} selected{/if}>是</option>
                          <option value="0" {if $data.h_five_one eq '0'} selected{/if}>否</option>
                          </select></td>
                          <td width="75"  class="bg1">{$language.huabu_step5_txt2}</td>
                          <td width="68"><input type="text"  name="h_five_two" class="i1" value="{$data.h_five_two}"/></td>
                        </tr>
                        <tr>
                          <td class="bg1">{$language.huabu_step5_txt3}</td>
                          <td colspan="3"><input type="text" name='h_five_three'  class="i2" value="{$data.h_five_three}"/></td>
                        </tr>
                        <tr>
                          <td  class="bg1">{$language.huabu_step5_txt4}</td>
                          <td colspan="3"><input type="text"  name="h_five_four"  class="i2" value="{$data.h_five_four}"/></td>
                        </tr>
                        <tr>
                          <td colspan="4">
                            <textarea name="h_five_five"  rows=8>{$data.h_five_five}</textarea>
                          </td>
                        </tr>
                   </table>
             </div>
              

          </div>
          
        
          <div class="lit h_six fl">
              <h5 {if  $data.h_six_one and  $data.h_six_two}class="on"{/if}><span>6</span>{$language.huabu_step6}</h5>
              <div class="h_6box">
                  <table  border="0" cellpadding="0" cellspacing="1">
                        <tr>
                          <td width="11%" class="bg1">{$language.huabu_step6_txt3}</td>
                          <td width="89%" ><textarea name="h_six_one" rows=8 >{$data.h_six_one}</textarea></td>
                        </tr>
                        <tr>
                          <td height="145" class="bg1">{$language.huabu_step6_txt4}</td>
                          <td height="145" valign="top"><textarea  name="h_six_two" rows=15 >{$data.h_six_two}</textarea></td>
                        </tr>
                   </table>
              </div>
          
          </div>
            
 		</div>
    
    
	<div class="clear h55"></div>
	
    <div class="tac">
    	<input type="submit" value="更新画布" id="h_btn" class="ibtn" />&nbsp;&nbsp;&nbsp;&nbsp;
    	<input type="button" value="设置分享" id="s_btn" class="ibtn" />&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" value="预览画布" id="btn_share" class="ibtn" />
    </div>
    <link rel="stylesheet" href="{$base_url}public/themes/default/default.css" />
    <script charset="utf-8" src="{$base_url}public/js/kindeditor-min.js"></script>
    <script charset="utf-8" src="{$base_url}public/js/lang/zh_CN.js"></script>
    <div class="shareItem" style="display:none">
    	
    	<div class="fl w400 mr20">
        	<span>分享图片：</span>
          <img src="{$data.sharePic}" width="400" height="360" alt="" id="sharePic"/>
            <div id="insertfile"> <img src="{$base_url}public/images/pic.gif" width="14" height="14" alt=""/>请选择你要上传的图片，尺寸400X360像素</div>
      
          	<!--  <input type="file" />-->
        </div>
        <div class="fl">
        	<span>分享文案：</span>
        	<textarea name="shareWord" cols=49 rows=13 >{$data.shareWord}</textarea>
            <div style=" padding-top:10px;"><b>是否公开：</b>
            <input type="radio" value="1" name="isPublic" {if $data.isPublic eq '1'}checked{/if}>&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" value="0" name="isPublic" {if $data.isPublic eq '0'}checked{/if}>&nbsp;否</div>
           
        </div>
        <div class="clear h25"></div>
        <div class="tac" style=" padding-right:60px;">
        	<input type="hidden"  name="sharePic" value="{$data.sharePic}"/>
            <input type="submit" value="保存设置" id="h_btn" class="ibtn" />
           
        </div>
    </div>
    <div class="clear h55"></div>
	<script>

			KindEditor.ready(function(K) {
				var editor = K.editor({
					allowFileManager : true
				});
				K('#insertfile').click(function() {
					editor.loadPlugin('insertfile', function() {
						editor.plugin.fileDialog({
							fileUrl : K('#url').val(),
							fileType: "image",
							fileUid: Uid,
							imgWidth:400,
							imgHeight:360,
							clickFn : function(url, title) {
								$("#sharePic").attr("src",url)
								K('input[name=sharePic]').val(url);
								editor.hideDialog();
							}
						});
					});
				});
			});
	</script>


    
    </div>
    
    </form> 
</div>

{include file="copyright.html"}   

{literal}
<script>
	$("#s_btn").click(function(){
		$(".shareItem").show()
		
	})
	
	

	$("#btn_share").click(function(){
		v=location.href
		v=v.replace("edit","show")
	
		window.open(v)
	})
	$('.lit').each(function(i){
		$(this).on("focusout",function(){
			
			var index=i;
			if(index==0){
				//alert($("textarea[name=h_one]").val())
				//alert($("input[name=h_one_text]").val())
			}
			if(index==1){
				//alert($("textarea[name=h_two]").val())
			}
	/*
	    textarea  h_one
    input h_one_text    
 textarea   h_two   
textarea  h_four      
  textarea h_three_one  
textarea  h_three_two   
input h_five_one    
input h_five_two  
input h_five_three  
input h_five_four
input h_five_five
textarea h_six
textarea h_six_one
	
	*/
           
          
            $('.lit span').eq(index).css({background:'#4bc86a'});
			if(index===2){
                index=3;
            }else if(index===3){
                index=2;
            }
			$('.h_nav li span').eq(index).css({background:'#4bc86a'});
			//$('.h_nav li span').eq(index).css({color:'#4bc86a'});
		})
		
	})
	
$(document).scroll(function(){
	$(".btnAplay").animate({"top":$(document).scrollTop()+200},200)	
})
	


if(Uid=="0"){
	reg()
}

</script>
{/literal}
</body>
</html>