<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>{$language.site_title}</title>
{include file="header.html"}
</head>
<body>
{include file="navB.html"}


<div class="m_main" >

      <div class="m_left">
          <div class="djBox">
            
              
              <div class="box">
                  <div class="box_1 pb20" class="update">
                 
                          <div class="t1">{$language.txt_liu}</div>
                          <ul>
                              <ol>
                                  <li class="w120">{$language.user_telName}<span>*</span></li>
                                  <li><input type="tel" class="i" name="tel" value="{$user.Mobile}"/><p></p></li>
                              </ol>
                              <ol>
                                  <li class="w120">{$language.user_email}<span>*</span></li>
                                  <li><input type="text" class="i" name="email" value="{$user.Email}"/><p></p></li>
                              </ol>
                              <ol>
                                  <li class="w120">{$language.user_realname}<span></span></li>
                                  <li><input type="text" class="i" name="realname"  value="{$user.RealName}"/></li>
                              </ol>
                              <ol>
                                  <li class="w120">{$language.user_qq}<span></span></li>
                                  <li><input type="text" class="i" name="qq"  value="{$user.QQ}"/></li>
                              </ol>
                              <ol>
                                  <li class="w120">{$language.user_weichat}<span></span></li>
                                  <li><input type="text" class="i" name="weichat"   value="{$user.RealName}"/></li>
                              </ol>
                          
                             

                           </ul>
                           <p class="clear"></p>
                           <div class="sbtn mt10">
                              
                              <input type="button" value="{$language.txt_update}" class="subBtn"/><br/><br/>
                              <input type="button" value="{$language.txt_giveup}" class="btn"/><br/><br/>
                           </div>
                           <div class="san2">
                			为方便我们联系您，请至少留下联系电话和邮箱哦，亲
     
              			  </div>
        
                  </div>
                  
               
              </div>
           </div>   
        
              
          
              
      </div>
      
      <div class="m_right">
          <img src="{$base_url}public/images/erweima_07.jpg" style="margin-top:30px;" />
          <div>扫一扫<br/>
         关注我们</div>
      </div>
</div>
    
{include file="copyright.html"}
{literal}
<script>

	$("input[name=tel]").on("change",function(){
		$(this).next("p").html("")
	})
	$("input[name=email]").on("change",function(){
		$(this).next("p").html("")
	})
	

	$(".subBtn").click(function(){
		
		mobile  =$("input[name=tel]").val()
		email   =$("input[name=email]").val()
		realname=$("input[name=realname]").val()
		qq      =$("input[name=qq]").val()
		weichat =$("input[name=weichat]").val()
		isErr=false
		if(!isPhoneOrMobile(mobile)){
			$("input[name=tel]").next("p").html("联系电话格式有误!")	
			isErr=true
		}
		if(!isEmail(email)){
			$("input[name=email]").next("p").html("邮箱格式有误!")	
			isErr=true
		}
		if(isErr){
	
			return;
		}
		$.get(baseUrl+"user/infoUpdateSave",{"mobile":mobile,"email":email,"realname":realname,"qq":qq,"weichat":weichat},function(d){
				 if(d.flag){
					location.href=baseUrl+"huabu/my"
				 }else{
					alert(d.msg)	 
				 }
		},"jsonp")	                      
                           
	})
	
	$(".btn").click(function(){
		location.href=baseUrl+"huabu/my"
	})
	

</script>   
{/literal}
</body>
</html>