<div class="navB">

    <a href="http://leanone.cn/" class="logo"></a>
    <div class="fl">
        <a href="http://leanone.cn/wp/?page_id=49" target="_blank" {if $nav_id eq 1} class="on"{/if}>{$language.nav_1}</a>
        <a href="http://leanone.cn/wp/" target="_blank"  {if $nav_id eq 2} class="on"{/if}>{$language.nav_2}</a>
        <a href="http://leanone.cn/huabu/lists"  target="_blank"  {if $nav_id eq 3} class="on"{/if}>{$language.nav_3}</a>
        <a href="http://leanone.cn/wp/?page_id=187" target="_blank"  {if $nav_id eq 4} class="on"{/if}>{$language.nav_4}</a>
    </div>
    <div class="fr {if $userLogined }logined{/if}">
    	{if $userLogined }
       		 <a>欢迎您,{$user.NickName}</a> 
             <a href="{$base_url}huabu/my" {if $nav_id eq 5} class="on"{/if}>{if $user.hasHuabu}我的画布{else}创建画布{/if}</a> 
             <a href="{$base_url}user/infoUpdate" {if $nav_id eq 6} class="on"{/if}>更新资料</a> 
             <a href="{$base_url}user/logout">退出登陆</a>
        {else}
        	<a href="javascript:reg();" >注册</a>
        	<a href="javascript:login();">登录</a>
        {/if}
    </div>
	
</div>